checkpoints/
datasets/__pycache__/
*.pyc
datasets/
Aneu_GHD/mesh_comparisons/
Aneu_GHD/seg_post/
Aneu_GHD/fitting_results/
dataset/processed/
dataset/processed_claydoll/
dataset/processed_endcaps/
dataset/temp/
checkpoints_v1/
tr_checkpoints/
v2/synthetic_v1/
wandb/